button
  border: 0;
  font-size: $f-xs;

.btn
  font-size: $f-xs;
  padding: $md;
  text-decoration: none;
  display: inline-block;

.btn-primary
  background: $c-s;
  color: $c-w;
  &:hover
    color: $c-l;

.btn-secondary
  background: $c-l;
  color: $c-d;
  &:hover
    color: $c-b;
