form(class="c-form")
  div(class="c-field-container")
    label(class="c-label" for="name") Name
    input(class="c-field" id="name" placeholder="name")
  div(class="c-field-container m-b-md")
    label(class="c-label" for="email") Email
    input(class="c-field" id="email" placeholder="email")
  button(class="btn btn-primary") SUBMIT  
