div(class="modal-overlay d-n")
  div(class="modal pad-xs pad-lg-on-tab ali-c bg-white")
    div(class="modal-close")
      a(href="")
        img(src="https://s3-eu-west-1.amazonaws.com/releaseplatform-images/oliver_sweeney/close_button.png" alt="")
    h3(class="ali-c txt-sm color-primary txt-md-on-tab ttr-u fw-n mar-t-lg-on-tab-mini mar-t-no-on-tab pad-b-xs neg-lsp-sm") Where should we send your discount?
