div(class="c-sharing")
  fieldset(class="c-sharing-box")
    legend(class="c-sharing-label") Your sharing link
    div(class="c-sharing-link")
      a(id="referral-url" href="#" class="link-primary fw-n") http://vip.liquiproof.com/r?=1234567891

  div(class="c-sharing-bar")
    a(href="#" id="referral-url" data-clipboard-text="test" class="btn btn-primary btn-copy") Copy link
    a(href="#" id="referral-url" data-clipboard-text="test" class="btn btn-secondary btn-copy m-l-md") Copy link
