body
  margin: 0;

.al-c-h
  margin: 0 auto;

.m-v-xs
  margin-top: $xs;
  margin-bottom: $xs;

.m-v-sm
  margin-top: $sm;
  margin-bottom: $sm;

.m-v-md
  margin-top: $md;
  margin-bottom: $md;

.m-v-lg
  margin-top: $lg;
  margin-bottom: $lg;

.m-v-xl
  margin-top: $xl;
  margin-bottom: $xl;

.m-h-xs
  margin-left: $xs;
  margin-right: $xs;

.m-h-sm
  margin-left: $sm;
  margin-right: $sm;

.m-h-md
  margin-left: $md;
  margin-right: $md;

.m-h-lg
  margin-left: $lg;
  margin-right: $lg;

.m-h-xl
  margin-left: $xl;
  margin-right: $xl;

.m-t-xs
  margin-top: $xs;

.m-b-xs
  margin-bottom: $xs;

.m-r-xs
  margin-right: $xs;

.m-l-xs
  margin-left: $xs;

.m-t-sm
  margin-top: $sm;

.m-b-sm
  margin-bottom: $sm;

.m-r-sm
  margin-right: $sm;

.m-l-sm
  margin-left: $sm;

.m-t-md
  margin-top: $md;

.m-b-md
  margin-bottom: $md;

.m-r-md
  margin-right: $md;

.m-l-md
  margin-left: $md;

.m-t-lg
  margin-top: $lg;

.m-b-lg
  margin-bottom: $lg;

.m-r-lg
  margin-right: $lg;

.m-l-lg
  margin-left: $lg;

.m-t-xl
  margin-top: $xl;

.m-b-xl
  margin-bottom: $xl;

.m-r-xl
  margin-right: $xl;

.m-l-xl
  margin-left: $xl;
