.al-c-h
  margin: 0 auto;

.p-v-xs
  padding-top: $xs;
  padding-bottom: $xs;

.p-v-sm
  padding-top: $sm;
  padding-bottom: $sm;

.p-v-md
  padding-top: $md;
  padding-bottom: $md;

.p-v-lg
  padding-top: $lg;
  padding-bottom: $lg;

.p-v-xl
  padding-top: $xl;
  padding-bottom: $xl;

.p-h-xs
  padding-left: $xs;
  padding-right: $xs;

.p-h-sm
  padding-left: $sm;
  padding-right: $sm;

.p-h-md
  padding-left: $md;
  padding-right: $md;

.p-h-lg
  padding-left: $lg;
  padding-right: $lg;

.p-h-xl
  padding-left: $xl;
  padding-right: $xl;

.p-t-xs
  padding-top: $xs;

.p-b-xs
  padding-bottom: $xs;

.p-r-xs
  padding-right: $xs;

.p-l-xs
  padding-left: $xs;

.p-t-sm
  padding-top: $sm;

.p-b-sm
  padding-bottom: $sm;

.p-r-sm
  padding-right: $sm;

.p-l-sm
  padding-left: $sm;

.p-t-md
  padding-top: $md;

.p-b-md
  padding-bottom: $md;

.p-r-md
  padding-right: $md;

.p-l-md
  padding-left: $md;

.p-t-lg
  padding-top: $lg;

.p-b-lg
  padding-bottom: $lg;

.p-r-lg
  padding-right: $lg;

.p-l-lg
  padding-left: $lg;

.p-t-xl
  padding-top: $xl;

.p-b-xl
  padding-bottom: $xl;

.p-r-xl
  padding-right: $xl;

.p-l-xl
  padding-left: $xl;
