body
  font-size: 1em;
  line-height: 1.45;
  font-family: $f-p;

p
  margin-bottom: 1.3em;

h1, h2, h3, h4
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;

// don't touch
h1
  margin-top: 0;

.t-xl
  font-size: $f-xl;
.t-lg
  font-size: $f-lg;
.t-md
  font-size: $f-md;
.t-sm
  font-size: $f-sm;
.t-xs
  font-size: $f-xs;

.ls-sm
  letter-spacing: .2em;
.ls-md
  letter-spacing: .4em;
.ls-lg
  letter-spacing: .6em;
.ls-xl
  letter-spacing: .8em;

@media screen and (min-width: $bp-sm)
  .t-xl-on-sm
    font-size: $f-xl;
  .t-lg-on-sm
    font-size: $f-lg;
  .t-md-on-sm
    font-size: $f-md;
  .t-sm-on-sm
    font-size: $f-sm;
  .t-xs-on-sm
    font-size: $f-xs;

@media screen and (min-width: $bp-md)
  .t-xl-on-md
    font-size: $f-xl;
  .t-lg-on-md
    font-size: $f-lg;
  .t-md-on-md
    font-size: $f-md;
  .t-sm-on-md
    font-size: $f-sm;
  .t-xs-on-md
    font-size: $f-xs;

@media screen and (min-width: $bp-lg)
  .t-xl-on-lg
    font-size: $f-xl;
  .t-lg-on-lg
    font-size: $f-lg;
  .t-md-on-lg
    font-size: $f-md;
  .t-sm-on-lg
    font-size: $f-sm;
  .t-xs-on-lg
    font-size: $f-xs;

@media screen and (min-width: $bp-xl)
  .t-xl-on-xl
    font-size: $f-xl;
  .t-lg-on-xl
    font-size: $f-lg;
  .t-md-on-xl
    font-size: $f-md;
  .t-sm-on-xl
    font-size: $f-sm;
  .t-xs-on-xl
    font-size: $f-xs;

.al-l
  text-align: left;
.al-c
  text-align: center;
.al-r
  text-align: center;


.fw-b
  font-weight: bold;

.fw-n
  font-weight: normal;

.fw-l
  font-weight: lighter;


.tt-u
  text-transform: uppercase;

.tt-n
  text-transform: none;

.tt-l
  text-transform: lowercase;

.tt-c
  text-transform: capitalize;


.ta-l
  text-align: left;

.ta-c
  text-align: center;

.ta-r
  text-align: right;

@media screen and (min-width: $bp-sm)
  .ta-l-on-sm
    text-align: left;

  .ta-c-on-sm
    text-align: center;

  .ta-r-on-sm
    text-align: right;

@media screen and (min-width: $bp-md)
  .ta-l-on-md
    text-align: left;

  .ta-c-on-md
    text-align: center;

  .ta-r-on-md
    text-align: right;

@media screen and (min-width: $bp-lg)
  .ta-l-on-lg
    text-align: left;

  .ta-c-on-lg
    text-align: center;

  .ta-r-on-lg
    text-align: right;

@media screen and (min-width: $bp-xl)
  .ta-l-on-xl
    text-align: left;

  .ta-c-on-xl
    text-align: center;

  .ta-r-on-xl
    text-align: right;

.h-sm
  line-height: 1.1;

.h-md
  line-height: 1.4;

.h-lg
  line-height: 1.8;
